<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div {
            position: absolute;
            right: 10px;
            top: 5px
        }
    </style>
</head>

<body>
    <div>
        <button type="button" onclick="location.href='{% url 'log' %}'">Logout</button>
    </div>
    <h2>Hỏi đáp</h2>
    <br><br>

    {% for name,address,query,date,citizen_id in comb_lis_query %}
    <h4>Tên: {{name}} &nbsp; Mã người dân: {{citizen_id}} &nbsp; Địa chỉ: {{address}} &nbsp; Câu hỏi:{{query}} &nbsp;
        Ngày:{{date}}</h4>
    <!-- <img src="{{image}}" alt="" widht="300px" height="300px"><br> -->
    <br>
    <form action="/updateFeedback/" method="POST">
        {% csrf_token %}
        <input type="text" value="{{citizen_id}}" name="id" hidden>
        <input type="text" name="feedback" id="" placeholder="Phản hồi" size="50" Multiline=true>
        <button type="submit" name="">Gửi</button>
    </form>

    {% endfor %}

</body>

</html>