<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div {
            position: absolute;
            right: 10px;
            top: 5px
        }
    </style>
</head>

<body>
    <div>

        <button type="button" onclick="location.href='{% url 'log' %}'">Đăng xuất</button>
    </div>
    Welcome
    <br><br>
    <!-- <button type="button" onclick="location.href='{% url 'routes' %}'">Generate Routes</button> -->
    <button type="button" onclick="location.href='{% url 'vehicles' %}'">Thêm xe rác</button>
    <button type="button" onclick="location.href='{% url 'check' %}'">Xem dữ liệu</button>
    <button type="button" onclick="location.href='{% url 'create_driver' %}'">Thêm lái xe</button>
    <button type="button" onclick="location.href='{% url 'create_bin' %}'">Thêm thùng rác</button>
    <button type="button" onclick="location.href='{% url 'create_depot' %}'">Thêm kho chứa</button>
    <button type="button" onclick="location.href='{% url 'create_dump' %}'">Thêm bãi đổ</button>
    <button type="button" onclick="location.href='{% url 'check_queries' %}'">View Queries</button>
    <button type="button" onclick="location.href='{% url 'real_time' %}'">Bản đồ xe</button>
    <a href="{% url 'latlong' %}"><button type="button">Bản đồ thùng rác</button></a>

</body>

</html>